/* CSS BOX MODEL PRACTICE */

/* usually a good idea to override default styles to a predictable value using the "universal" CSS selector: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  background-color: #DDE0E3; 
}

em, strong {
  background-color: #B2D6FF
}

/* styling for padding */
/* for borders follow this format >> border: size style color */
/* PRO TIP!  v useful for debugging --> if you're not sure about how a box is being rendered, add border: 1px solid red to it to clearly show its dimensions, then delete it later */
h1 {
  padding: 50px;
  border-bottom: 1px solid #5D6063;
}

/* if you only want to style one side of an element, see the below properties --> em units are probably better for making margins scale with base font size in mind */

p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

/* or write it this way instead : top right bottom left

p {
  padding: 20px 0 20px 10 px
}

*/

/* styling divs */

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
}

