p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
}

.emphasized {
  font-style: italic;
}

.standout {
  color: red;
}

/* line-height: space between the paragraphs or p tag */

p.spacey {
  letter-spacing: 1em;
  word-spacing: 1em;
  line-height: 2.4em;
}

h3 {
  text-align: center;
}

p.pretty {
  text-align: justify;
}

p.tabbed {
  text-indent: 1.5em;
}

/* blockquote is to make sure all of the sentences are in-line */

blockquote {
  font-size: .9em;
  color: grey;
}

/* extra white space around the top, right, bottom, and left sides respectively */

p.offset {
  margin: 2em;
}

/* padding --> to add whitespace between the border and what is inside --> top right bottom left */

.enclosed {
  border: 4px solid pink;
  padding: .5em;
}

h4, p.mid {
  text-align: center;
}

h2 #warm {
  color: orange;
}

div #midpage {
  margin: 0 3em 0 3em;
  font-family: Arial, Helvetica, sans-serif;
}

img.has-own-line {
  display: block;
}

/* positioning an image --> may need to use block display for own line, by default the browser will place it all the way over to the left, if you want it further to the right increase the em number!  */

img.inset {
  margin-left: 5em;
}

/* CENTERING AN IMAGE --> auto = tells the browser to split left and right margins equally */

img.mid {
  display: block;
  margin: 0 auto 0 auto;
}

/* F L O A T I N G IMAGES! --> to get the text wrap effect */

img.fl {
  float: left;
  margin-right: .5em;
}

/* this class will make sure the following paragraphs will not wrap around image */

p.clr {
  clear: both;
}

/* styling links! */

a {
  color: grey;
}

a:hover {
  color: orange;
}

/* this increases link text size on click */

a:active {
  font-size: 1.25em;
}

/* to change the appearance of a link that the user has already visited */

a:visited {
  color: pink;
}


/* by DEFAULT browsers do not add any space between list items. you can customize it to do it with this line: */

li {
  margin: .75em;
}

/* if you want to specify the DEFAULT style of block text list-item indentation. The entire block is indented. */

ul {
  list-style-position: outside;
}

/* For a FIRST LINE only indent, see below: */
ul {
  list-style-position: inside;
}

/* default style is DISC, but can specify for square, circle, or even an image! try to avoid the image option since it can be quite messy esp for UX */

ul {
  list-style-type: square;
}

/* try not to do this as it can cause headaches later */

ul.custom {
  list-style-image: url("images/heart.png");
}

/* FOR ORDERED lists, marker style can be specified as decimal, decimal-leading-zero, lower/upper-alpha, lower/upper-roman: */

ol.special {
  list-style-type: lower-roman;
}

/* playing with more CSS selectors! to double the size of all paragraphs within this div! You can combine more selectors too! */

div#midpage p {
  font-size: 2em;
}

/* to select the first paragraph following any div:
FIRST is selector elemet +  */

div + p {
  color: pink;
}

/* to select ONLY the first level of divs within the div that has this id 
ONLY FIRST LEVEL = selector element and > */

div#content > div {
  color: dodgerblue;
}

/* to select the first level of list items in all unordered lists */
ul > li {
  color: pink;
}

/* styling Table Borders!!~ */

/* for cells to have borders */
th, td {
  border: 1px solid black;
}

/* by default, browsers add a lil bit of space between cells, creating gaps between hairline borders. This is the code for no gaps: */

table {
  border-collapse: collapse;
}

/* example of top and bottom borders framing the table headers */

th.top-row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* example of left and right borders framing the edges */

table.standout {
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

/* browsers dont add space between the table cell borders and the text inside. Add padding to take care of it! (add space b/w cell text and borders) */

th, td {
  padding: .25em;
}

/* border spacing for the whole table --> space b/w CELLS */

table {
  border-spacing: 1em;
}

/* table spacing! continued... setting cell size to its contents specifically instead of letting the browser adjust it on its own */

table#t4 {
  width: 25%;
}

table#t4 td {
  width: 50%
}

/* Aligining text on tables! */

table#t4 td {
  text-align: center;
}

/* to specify vertical alignment within cells, CANNOT be for the whole table only for <th> and <td> elements */

th {
  vertical-align: bottom;
}

/* background color for tables */

tr.even {
  background-color: lavender;
}

/* styling forms! --> syntax varies depending on the type of inputs you're styling */

input[type="text"], textarea {
  font-size: 2em;
  padding: .25em;
}

input[type="email"], textarea {
  font-size: 2em;
  padding: .25em;
}

/* heftyyy submit button for example: */
input[type="submit"] {
  font-size: 1.25em;
}

legend {
  font-weight: 600;
}

/* layout with div widths and centering */

div#narrow {
  width: 20%;
  margin: 0 auto 0 auto;
}

div#main {
  width: 90%;
  margin: 1.5em auto 1% auto;
}

div.inset {
  width: 90%;
  margin: 0 auto 0 auto;
}

/* will be overidden by div specifications, but here is an example of body style */

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: grey;
  color: black;
}

/* to code div that prevents unintended wraps */

div#endFloat {
  clear: both;
}

div#mid {
  width: 32%;
  float: left;
}

/* modern heading generic layout: */
/* switching the position to be fixed tells the browser to keep the div immobilized as everything else on the page scrolls */

div#banner {
  width: 100%;
  font-size: 2em;
  margin-left: 2%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccff33;
  padding: 0;
}

/* add image, float, padding and margin in banner */

div#banner img {
  float: left;
  margin: 1em;
}

div#banner h2 {
  padding-top: .15em;
}

/* invinsible spacer for modern headers/divs */

div#banner img, div#spacer img {
  float: left;
  margin: 1em;
}

div#spacer {
  width: 100%;
  visibility: hidden;
}

/* since img is floated within div header, need a paragraph to clear the float */

p.clearFloat {
  clear: both;
}

/* to fix "normal flows" of divs with aboslute or fixed positions, avoid div on divs, invincible divs --> DUPLICATE the header, one that isn't fixed, part of the main flow, make it visible to browser but invincible to the user >> creates a SPACER effect ---> hidden visibility keeps the contents invincible though the browser knows its there << */

div#invinsible-header {
  width: 100%;
  visibility: hidden;
}

div#header h2, div#invincible-header h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 2em;
  margin-left: 2%;
  padding: 0;
}

/* fixed position elements can interfere with the stack order using z-index; the lower this number the lower its place is in the stack order --> all elements that are in the normal HTML flow have an implicit z-index of 0 */

div#header img, div#invincible-header img {
  float: left;
  margin: .9em .6em 0 .75em;
}

/* navigation bar styling!!! */
div#navbar {
  clear: both;
}

/* will remove bullets since its a nav bar */
div#navbar ul {
  list-style-type: none;
}

/* to style anchors in a nav bar list --> remove underline, change size, color, etc.. */
div#navbar ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  color: dodgerblue;
  display: block;
  padding: .3em;
}

/* a modern simple-ish navigation bar styling */

div#navbar {
  display: inline-block;
}
div#navbar ul {
  list-style-type: none;
  padding-left: 0;
}
div#navbar ul li {
  background-color: blue;
  margin-bottom: .25em;
}
div#navbar ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: block;
  padding: .3em;
}

/* end modern simple-ish nav bar styling */

/************************/

/* styling a HORIZONTAL nav bar below 
To convert a navbar from vertical to horizontal, you replace the following code with a width specification. */

div#navbar {
  width: 100%;
}

div#navbar ul {
  list-style-type: none;
  padding-left: 0;
}

div#navbar ul li {
  background-color: blue; 
  text-align: center;
  display: inline;  /* tells browser to list items side by side instead of veritcal default */
  width: 19%;
  float: left;
  margin-right: .5em;
}

div#navbar ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: block;
  padding: .3em;
}

/* alternative option:

div#navbar {
  width: 100%;
}

div#navbar ul {
  list-style-type: none;
  padding-left: 0;
}

div#navbar ul li {
  background-color: #cc6600;
  margin-bottom: .2em;
  display: inline;
  float: left;
  width: 32%;
  text-align: center;
  margin-right: .25em;
}

div#navbar ul li a {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
  padding: .75em .75em .75em .75em;    
}

*/

/* end styling for HORIZONTAL nav bar */

/** for styling nav bar items on hover and on click */

li.changeBackground {
  background-color: blue;
}

li.changeBackground:hover {
  background-color: lightBlue;
}

li.changeBackground:active {
  background-color: darkBlue;
}

/* for styling background images: 

body {
  background-image: url("http://www.asmarterwaytolearn.com/monarch.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

background-attachment: scroll or fixed

*/

/* practice with ems vs percentages vs pixels */

div.narrow {
  width: 50%;
}

p.narrower {
  width: 50%;
  text-align: center;
}

