p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
}

.emphasized {
  font-style: italic;
}

.standout {
  color: red;
}

/* line-height: space between the paragraphs or p tag */

p.spacey {
  letter-spacing: 1em;
  word-spacing: 1em;
  line-height: 2.4em;
}

h3 {
  text-align: center;
}

p.pretty {
  text-align: justify;
}

p.tabbed {
  text-indent: 1.5em;
}

/* blockquote is to make sure all of the sentences are in-line */

blockquote {
  font-size: .9em;
  color: grey;
}

/* extra white space around the top, right, bottom, and left sides respectively */

p.offset {
  margin: 2em;
}

/* padding --> to add whitespace between the border and what is inside --> top right bottom left */

.enclosed {
  border: 4px solid pink;
  padding: .5em;
}

h4, p.mid {
  text-align: center;
}

h2 #warm {
  color: orange;
}

div #midpage {
  margin: 0 3em 0 3em;
  font-family: Arial, Helvetica, sans-serif;
}

img.has-own-line {
  display: block;
}

/* positioning an image --> may need to use block display for own line, by default the browser will place it all the way over to the left, if you want it further to the right increase the em number!  */

img.inset {
  margin-left: 5em;
}

/* CENTERING AN IMAGE --> auto = tells the browser to split left and right margins equally */

img.mid {
  display: block;
  margin: 0 auto 0 auto;
}

/* F L O A T I N G IMAGES! --> to get the text wrap effect */

img.fl {
  float: left;
  margin-right: .5em;
}

/* this class will make sure the following paragraphs will not wrap around image */

p.clr {
  clear: both;
}
