/* practice with floats ~ -- magazine style layout ~ */ 


/* to reset default box behavior (margin / padding added by browser) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  height: 100px;
  background-color: #B2D6FF;
}

/* left-aligned this and content blocks. this kind of nesting and aligning is typical for most web layouts */
.sidebar {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #F09A9D;
}

.content {
  float: left;
  width: 650px;
  height: 500px;
  background-color: #F5CF8E
}

.footer {
  overflow: hidden;
  /* clear: both; */
  /* height: 200px; */
  background-color: #D6E9FE;
}

/* to give our page a fixed-width layout instead of being as wide as the broswer window >> fixed width here for centering everything */
.page {
  width: 900px;
  margin: 0 auto;
  border: 1px solid red;
}

/* 3 nested divs elements just for laying out the page magazine style: this will be a wrapper for full-bleed background color */
.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;
}